@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ramat Gan - Main Bursa<br />
</address>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13521.879504591621!2d34.792037223194036!3d32.083584198988234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4bbf38f0754f%3A0x8e31fee1f96e7071!2sBursa%2C+Ramat+Gan!5e0!3m2!1sen!2sil!4v1542571084730" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@HotStocks.com">Support@HotStocks.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@HotStocks.com">Marketing@HotStocks.com</a>
</address>