@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ramat Gan - Main Bursa<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@HotStocks.com">Support@HotStocks.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@HotStocks.com">Marketing@HotStocks.com</a>
</address>