@model TopStocks.Models.Stock

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    @Styles.Render("~/Content/site.css")
    <div class="page-header">
        <h1>Top Stocks<br /> <small>The Fastest stocks exchange which allow to trade within the top stocks at the market</small></h1>
    </div>
</header>

<body>
    <center><h2> Daily Market Overview</h2></center>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
            {
                "symbols": [
                    {
                        "title": "S&P 500",
                        "proName": "INDEX:SPX"
                    },
                    {
                        "title": "Nasdaq 100",
                        "proName": "INDEX:IUXX"
                    },
                    {
                        "title": "EUR/USD",
                        "proName": "FX_IDC:EURUSD"
                    },
                    {
                        "title": "BTC/USD",
                        "proName": "BITFINEX:BTCUSD"
                    },
                    {
                        "title": "ETH/USD",
                        "proName": "BITFINEX:ETHUSD"
                    }
                ],
                    "locale": "en"
            }
        </script>
    </div>
    <!-- TradingView Widget END -->

    <br />
    <center>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Market Data</span></a> by TradingView</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                {
                    "width": 770,
                        "height": 450,
                            "symbolsGroups": [
                                {
                                    "originalName": "Indices",
                                    "symbols": [
                                        {
                                            "name": "INDEX:SPX",
                                            "displayName": "S&P 500"
                                        },
                                        {
                                            "name": "INDEX:IUXX",
                                            "displayName": "Nasdaq 100"
                                        },
                                        {
                                            "name": "INDEX:DOWI",
                                            "displayName": "Dow 30"
                                        },
                                        {
                                            "name": "INDEX:NKY",
                                            "displayName": "Nikkei 225"
                                        },
                                        {
                                            "name": "INDEX:DAX",
                                            "displayName": "DAX Index"
                                        }
                                    ],
                                    "name": "Indices"
                                },
                                {
                                    "originalName": "Forex",
                                    "symbols": [
                                        {
                                            "name": "FX:EURUSD"
                                        },
                                        {
                                            "name": "FX_IDC:USDILS"
                                        },
                                        {
                                            "name": "FX_IDC:EURILS"
                                        },
                                        {
                                            "name": "FX_IDC:CHFILS"
                                        },
                                        {
                                            "name": "FX_IDC:GBPILS"
                                        }
                                    ],
                                    "name": "Forex"
                                },
                                {
                                    "name": "Crypto",
                                    "symbols": [
                                        {
                                            "name": "BITFINEX:BTCUSD"
                                        },
                                        {
                                            "name": "BITFINEX:ETHUSD"
                                        },
                                        {
                                            "name": "BITFINEX:EOSUSD"
                                        },
                                        {
                                            "name": "BITFINEX:XLMUSD"
                                        },
                                        {
                                            "name": "BINANCE:NANOUSD"
                                        }
                                    ]
                                }
                            ],
                                "locale": "en"
                }
            </script>
        </div>
        <!-- TradingView Widget END -->
    </center>
</body>