<div class="modal fade" id="holding-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="holdingModalTitle"></h3>
            </div>
            <div class="modal-body">
                <form id="create-holding-form">
                    <div class="form-group">
                        <label for="stock-market" class="col-form-label">CurrentPrice</label>
                        <input type="number" placeholder="" class="form-control" id="holdingBuy" readonly />
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="Quantity">Amount of Stock</label>
                        <input type="number"  min="1"  class="form-control" onchange="calculateCharge()" default="1"   step="1" id="quantity" placeholder="1" required />
                    </div>
                    <div class="form-group">
                        <label for="Charge">Total Charge</label>
                        <input type="number"  class="form-control"  id="charge" placeholder="" required readonly />
                    </div>
                </form>
                <div class="alert alert-info" id="alertInfoTransSuccess" role="alert">After purchasing stocks, you can track Holdings change at "My Holdings" menu</div>
                <div class="alert alert-success" id="holdingSuccess" role="alert" hidden="hidden">Stocks were successfully sold</div>
                <div class="alert alert-danger" id="holdingError" role="alert" hidden="hidden">An error occured during purchase</div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" enabled="enabled" id="createHolding">Buy</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="~/Scripts/widgets.js"></script>
