@model  TopStocks.Models.IndexViewModel
@{
    ViewBag.Title = "Get Your Stocks Here";
}

<h2>@ViewBag.Title</h2>
<div align="right">
    <h3>
        @if (User.IsInRole("Admin"))
        {
        <a href='/Stocks/Manage' class='button'>Manage</a>
        }
    </h3>
</div>